<style>
    * {
        margin: 0;
        padding: 0
    }

    body {
        background-color: #211d1d;
    }

    .card {
        text-align: center;
        width: 550px;
        padding: 20px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 10px 20px #8b05eb, 0 6px 36px #8b05eb;
        cursor: pointer;
        transition: all 0.5s;
    }

    .image img {
        transition: all 0.5s
    }

    .name {
        font-size: 40px;
        font-weight: bold
    }

    .idd {
        font-size: 20px;
        font-weight: 600
    }

    .idd1 {
        font-size: 13px
    }

    .number {
        font-size: 22px;
        font-weight: bold
    }

    .follow {
        font-size: 12px;
        font-weight: 500;
        color: #444444
    }

    .btn1 {
        height: 40px;
        width: 150px;
        border: none;
        background-color: #000;
        color: #aeaeae;
        font-size: 15px
    }


    .text span {
        font-size: 13px;
        color: #545454;
        font-weight: 500
    }

    .icons i {
        font-size: 19px
    }

    hr .new1 {
        border: 1px solid
    }

    .join {
        font-size: 14px;
        color: #a0a0a0;
        font-weight: bold
    }

    .date {
        background-color: #ccc
    }

    .card__image {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        -o-object-fit: cover;
        object-fit: cover;
        box-shadow: 0 10px 20px rgba(255, 255, 255, 0), 0 6px 36px rgb(0, 0, 0);
        border: 3px solid rgb(255, 255, 255);
    }

    .card__username {
        color: #6e8192;
    }

    .card__title {
        margin: 0;
    }

    @media only screen and (max-width: 900px) {
  .card {
    /* make the card wider on small devices, but with a maximum width of 900 pixels */
    width: 900px;
    max-width: 900px;
  }

}
</style>
<script>
    Handlebars.registerHelper('ifEquals', function (a, b, options) {
        if (a === b) {
            return options.fn(this);
        }

        return options.inverse(this);
    });
</script><br><br><br>
<h2 class="text-light center">Este é o teu perfil!</h2>
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center ">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            {{#if foto}}
            <img src="/upload/{{foto}}" class="card__image" /><br>
            {{else}}
            <img src="/upload/user.png" class="card__image" /><br>
            {{/if}}
            <h1 class="card_title">{{primeiro_nome}} {{ultimo_nome}}</h1>
            <div class="card__username">@{{username}}</div>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1"><img
                        src="/assets/img/Utilizadores/email.svg" width="15px"> {{email}}</span>
                
            </div>



            <br>
            <div class=" d-flex mt-2">
                <form action="/auth/logout" method="post">
                    <input type="image" src="/assets/img/logout.png" width="40px" height="40px" alt="Submit Button">
                </form>
            </div>



            <div class="text mt-3"> <span>{{descricao}}<br><br> </span> </div>

            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="/meu_perfil/editar" class="btn btn-primary">Editar Perfil</a>
            </div>
            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="/mudar_pass" class="btn btn-primary">Mudar Palavra-Passe</a>
            </div>
            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="/lista_plano_treino" class="btn btn-primary">Sessões de treino</a>
            </div>
            <br>
            {{#ifEquals id_cargo "2"}}
            <div class="d-grid gap-2 col-6 mx-auto"> <a href="/admin/dashboard"
                    class="btn btn-primary">Administração</a>
            </div>
            {{/ifEquals}}
            <div class=" px-2 rounded mt-4 date "> <span class="join">{{createdAt}}</span> </div>
        </div>
    </div>
</div>