
{{#each rows}}
<tr>
    <td><a href=" /Exercicio/{{this.id}}">{{this.exercicio}}</a></td>
    <td>{{this.equipamento}}</td>
    <td>{{this.dificuldade}}</td>
    <td>{{this.musculo}}</td>
</tr>
{{/each}}