<style>
    .holder {
        background: #f0efe9;
        min-height: 100vh;
    }

    .rounded {
        border-radius: 1rem !important;
    }

    .text-gray {
        color: #aaa;
    }

    input:checked+label {
        text-decoration: line-through;
        color: #adb5bd;
    }

    label {
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }
    input[type="checkbox"] {
    display: none;
}
</style>

<br><br><br><br>
{{#if success}}
<div class="alert alert-success" role="alert">
    <h3>{{success}}</h3>
</div>
{{/if}}
{{#if error}}
<div class="alert alert-danger" role="alert">
    <h3>{{error}}</h3>
</div>
{{/if}}
<div class="row">
    <div class="col-lg-8 mx-auto">

        <!-- CHECKBOX LIST -->
        <div class="card rounded border-0 shadow-sm position-relative">
            <div class="card-body p-5">
                <div class="d-flex align-items-center mb-4 pb-4 border-bottom"><i class="far fa-calendar-alt fa-3x"></i>
                    <div class="ms-3">
                        <h4 class="text-uppercase fw-weight-bold mb-0">{{nome_treino}}</h4>
                        <p class="text-gray fst-italic mb-0">{{createdAt_treino}}</p>
                    </div>
                </div>
                <div class="d-grid gap-2">

                    <a href="/definir_sessao/{{id_sessao}}" type="button"
                        class="btn btn-primary align-self-center">Adicionar exercício <i class="bi bi-plus"></i></a><br>
                </div>
                {{#each exercicios}}
                {{#ifEquals concluido "1"}}
                <div class="form-check mb-3">
                    <input class="form-check-input" id="flexCheck1" type="checkbox" checked>
                    <label class="form-check-label" for="flexCheck1"><span class="fst-italic pl-1">{{nome}} | {{series}}
                            séries | {{carga}}kg | {{reps_objetivo}} reps</span></label>
                    <i class="bi-check">Concluido</i>
                    
                </div>
                {{/ifEquals}}
                {{#ifEquals concluido "0"}}
                <div class="form-check mb-3">
                    <input class="form-check-input" id="flexCheck1" type="checkbox">
                    <label class="form-check-label" for="flexCheck1"><span class="fst-italic pl-1">{{nome}} | {{series}}
                            séries | {{carga}}kg | {{reps_objetivo}} reps</span></label>
                    <a href="/definir_reps/{{id_sessao}}/{{exercicio_id}}" type="button" class="btn-light"><i class="bi-pencil-square"></i>
                    </a>
                </div>
                {{/ifEquals}}
                
                {{/each}}
                <br>
               <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <form action="/concluir_sessao/{{id_sessao}}" method="post">
               
                        <button class="btn btn-light align-self-center" type="submit">Finalizar o treino <i class="bi bi-check-square"></i></button>
                </form>
                
                        </div>

                    
          


            </div>
        </div>
    </div>
</div>
</div>
</div>