{{#each rows}}
<tr>
    <td>{{this.id}}</td>
    <td>{{this.exercicio}}</td>
    <td>{{this.equipamento}}</td>
    <td>{{this.dificuldade}}</td>
    <td>{{this.musculo}}</td>
    <td><button type="button" class="btn btn-dark btn-small"><i class="bi bi-pencil-square"></i> Editar</button>
        <button value="${data[i].id}" onclick="apagar(this.value)" type="button" class="btn btn-dark btn-small"><i class="bi bi-trash3"></i> Apagar</button>
    </td>
</tr>
{{/each}}