{{#each rows}}
<tr>
    <td>{{this.id}}</td>
    <td>{{this.exercicio}}</td>
    <td>{{this.equipamento}}</td>
    <td>{{this.dificuldade}}</td>
    <td>{{this.musculo}}</td>
    <td class="text-end">
         <a href="/admin/editar_exercicio/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil-square"></i> Editar</a>
         <a href="/admin/apagar_exercicio/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-trash3"></i> Apagar</a>
        
    </td>
</tr>
{{/each}}