{{#each rows}}
<tr>
    <td>{{this.id}}</td>
    <td>{{this.alimento}}</td>
    <td>{{this.proteina}}</td>
    <td>{{this.carbs}}</td>
    <td>{{this.gordura}}</td>
    <td>{{this.calorias}}</td>
    <td>{{this.marca}}</td>
</tr>
{{/each}}