<p class="text-light">Os seus alimentos podem ser adicionados futuramente para a tabela principal de alimentos pelo administrador!</p>
{{#each rows}}
<tr>
    <td>{{this.id}}</td>
    <td><a href="/alimento/{{this.id}}">{{this.alimento}}</a></td>
    <td>{{this.calorias}}kcal P:{{this.proteina}} C:{{this.carbs}} G:{{this.gordura}}</td>
    <td>{{this.marca}}</td>
</tr>
{{/each}}