{{#each rows}}
<tr>
    <td>{{this.id}}</td>
    <td>{{this.alimento}}</td>
    <td>{{this.proteina}}</td>
    <td>{{this.carbs}}</td>
    <td>{{this.gordura}}</td>
    <td>{{this.calorias}}</td>
    <td>{{this.marca}}</td>
    <td class="text-end">
         <a href="/admin/editar_alimento/{{this.alimento_id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil-square"></i> Editar</a>
         <a href="/admin/apagar_alimento/{{this.alimento_id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-trash3"></i> Apagar</a>
        
    </td>
</tr>
{{/each}}